*{
    margin:0;
    color: #4827DA;
}
body{
    background-color: #E4DFF9;
}
#head{
    background-color: #FEFE3D;
}
h1 {
    text-align: center;
    color: #4827DA;
    font-family: Georgia, serif;
}
h2{
    color: #4827DA;
    font-family: Verdana, sans-serif;
}
table {
    border-style: solid;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, sans-serif;

}
th{
    color: #4827DA;
    font-family: Verdana, sans-serif;
}
label{
    font-size: 15px;
    font-family: Verdana, sans-serif;

}
#cardgame{
    border-style: solid;
    border-color: red;
}
.row{
    border: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    perspective: 800px;
    align-items: center;
    margin-bottom: 50px;
    /* column-gap: 10px; */
}
#button{
    color: black;
    border-radius: 5px;
}
#time,#score{
    font-weight: bold;
}
#tagline{
    text-align: center;
}

/* .card{
    display: block;
    height: 200px;
    width: 150px;
    border-style:solid;
    margin: 25px 100px;
    animation: z-axis 1s linear 0s 1 normal forwards;
    transition: linear;
} */
img{
    height: 100%;
    width: 100%;
    z-index: 0;
}

aside{
    position: absolute;
    right: 100px;
    top: 25px;
}
main{
    background-color: #E4DFF9;
}


@keyframes flip {
    0%{
        /* transform: rotate(0deg); */
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100%{
        /* transform: rotate(360deg); */
        transform: rotate3d(.1,1,0, 180deg);
    }
}
@keyframes hide {
    0%{
        /* transform: rotate(0deg); */
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100%{
        /* transform: rotate(360deg); */
        transform: rotate3d(.1,1,0, 180deg);
    }
}

.forward{
    animation: flip 1s linear 0s 1 normal forwards;
    transition: linear;
}
.backward{
    animation: hide 1s linear 0s 1 reverse forwards;
    transition: linear;
}


.holder{
    height: 200px;
    width: 150px;
    display: inline-block;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0,0;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    margin: 25px 10px;


}
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.front{
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.back{
    background-color: #009B77;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    text-align: center;
    color: white;
    font-size: 100px;
    /* box-shadow: 10px 5px 5px #EFC050; */
}
.pair{
    box-shadow: 10px 5px 5px #EFC050;
}

.flipped {
    transform: rotateY(180deg);
  }